<!-- Page Heading -->
<div class="row tac">
  <div class="col-lg-10">
		<h1 class="page-header">{{ lang.error_404_title }}</h1>
		<p>{{ lang.error_404_desc }}</p>
  </div>
</div>
<!-- /.row -->