<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ title }}</h1>
    <p>{{ desc }}</p>
    <ul class="nav">
      <li>
        <a href="/logs/add_log"><i class="fa fa-fw fa-plus"></i> Dodawanie logów</a>
      </li>
      <li>
        <a href="/logs/edit_log"><i class="fa fa-fw fa-pencil-square"></i> Zmienianie logów</a>
      </li>
      <li>
        <a href="/logs/export_logs"><i class="fa fa-fw fa-download"></i> Wyeksportowanie logów</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->
